!-- Xft settings -- !
!Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

URxvt.font:                 xft:Curried:style=Regular:pixelsize=16,xft:WenQuanYi Micro Hei Mono:style=Regular:pixelsize=16
URxvt.boldFont:             xft:Curried:style=Bold:pixelsize=16,xft:WenQuanYi Micro Hei Mono:style=Bold:pixelsize=16
URxvt.italicFont:           xft:Curried:style=Italic:pixelsize=16
URxvt.boldItalicFont:       xft:Curried:style=Bold Italic:pixelsize=16
!URxvt*imFont:               xft:Monaco for Powerline:regular:pixelsize=13
URxvt.scrollBar:            false
URxvt.background:           Black
URxvt.foreground:           White
URxvt.perl-ext-common: font-size,default,clipboard,url-select,keyboard-select,matcher
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-equal:  perl:font-size:increase
URxvt.keysym.M-minus:  perl:font-size:decrease
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-c:      perl:clipboard:copy
URxvt.keysym.M-v:      perl:clipboard:paste

urxvt.keysym.S-F1: command: \
    \033]710;xft:Monaco for Powerline:regular:pixelsize=13,xft:WenQuanYi Micro Hei Mono:style=Regular:pixelsize=16\007 \
    \033]711;xft:Monaco for Powerline:bold:pixelsize=13,xft:WenQuanYi Micro Hei Mono:style=Bold:pixelsize=16\007 \
    \033]712;xft:Monaco for Powerline:italic:pixelsize=13\007 \
    \033]713;xft:Monaco for Powerline:bold:italic:pixelsize=13\007

urxvt.keysym.S-F2: command: \
    \033]710;xft:Curried:style=Regular:pixelsize=16,xft:WenQuanYi Micro Hei Mono:style=Regular:pixelsize=16\007 \
    \033]711;xft:Curried:style=Bold:pixelsize=16,xft:WenQuanYi Micro Hei Mono:style=Bold:pixelsize=16\007 \
    \033]712;xft:Curried:style=Italic:pixelsize=16\007 \
    \033]713;xft:Curried:style=Bold Italic:pixelsize=16\007

XLock.mode: goop
